#canvas{
    border: 5px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    border-radius: 20px; 

}

h1{
    color: #efefcb;
    font-size: 78px;
    text-align: center;
    text-shadow: 3px 3px #3ab9dc;
}

body{
    color: white; 
    background: #c1f1ff;
    font-family: 'Amatic SC', cursive;
}

.game-section{
    display: flex;
}

.controllers, 
.intro{
    color: black;
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
}

h4{
    font-size: 32px;
    text-shadow: 1px 1px #efefcb;
}

